body {
    background: url("./images/polygon-2880x1800-4k-5k-wallpaper-android-wallpaper-waves-background-3521.jpg") center center fixed;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.5);
}

.secret {
    display: none;
    text-align: center;
}

.custom {
    margin: 50px;
}

.title {
    text-align: center;
    color: white;
}
.title2 {
    text-align: center;
}
.btn {
    margin: 20px;
}