body {
    background: url("./images/polygon-2880x1800-4k-5k-wallpaper-android-wallpaper-waves-background-3521.jpg") center center fixed;
    background-size: cover;
}

.secret {
    display: none;
}

.custom {
    margin: 50px;
}

.title {
    text-align: center;
    color: white;
}